body{
  background-image: url(https://acmi-website-media-prod.s3.amazonaws.com/static/images/My_Neighbor_Totoro.original.gif);
  background-repeat: no-repeat;
  background-size: 1500px;
  background-color: #2f6030;
  color:white;
  background-attachment: fixed;
}

.dear{
  font-size: 30px;
}

.letter{
  font-size: 33px;
}

.box{
  border: 1px solid black;
  background-color:pink;
}

.box2{
  border:1px solid black;
  background-color: white;
}
